body {}


#header {}

#header .inner {

    display: flex;
    max-width: 1700px;
    padding: 0 15px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    background: #fff;
}

#header .inner h1 {}



#header a {
    display: block;
}

#header .gnb {
    margin: 0 0 0 250px;
}

#header .gnb>ul {
    display: flex;
    gap: 65px;
}

/* 메뉴 일렬로 배치 */

#header .service>* {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    gap: 20px;
    margin: 0 0 0 200px;
}

#header .service i {
    font-size: 25px;
}


#header .gnb>ul>li {
    position: relative;

}

#header .gnb>ul>li>a {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

#header .sub {
    /* border: 1px solid blue; */

    font-size: 15px;
    height: 0;
    overflow: hidden;

    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;

    text-align: center;

    line-height: 30px;
    letter-spacing: -1px;

    font-weight: 400;

    color: #666;

    transition: 0.5s;
}


#header .sub>li a {
    white-space: nowrap;
}

/* #header .sub>ul>li {
    position: relative;
}

#header .sub>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 12px;
    background: #ddd;
} */

#header .sub>li:hover {
    color: rgb(197, 0, 0);
    font-weight: 500;

}

#header .gnb:hover>ul>li .sub {
    height: 220px;
}

#header .gnb::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 2px solid red;
    background: #fff;
    z-index: 999;

    transition: 0.5s;

}

#header .gnb:hover::before {
    height: 220px;
}


/* 탑 배너 끝 */


.main_visual {
    position: relative;
}

.main_visual .main_slide {}

.main_visual .main_slide figure {
    position: relative;
    height: 909px;
}

.main_visual .main_slide .itm01 {
    background: url(../images/vis_bg_01_2021.jpg)no-repeat center center/cover;
}

.main_visual .main_slide .itm02 {
    background: url(../images/vis_bg_02_202205.jpg)no-repeat center center/cover;
}

.main_visual .main_slide .itm03 {
    background: url(../images/vis_bg_03_2021.jpg)no-repeat center center/cover;
}

.main_visual .main_slide .itm04 {
    background: url(../images/vis_bg_04_2022.jpg)no-repeat center center/cover;
}



.main_visual .main_slide .slogan {
    position: absolute;
    top: 95%;
    left: 110%;
    transform: translate(-50%, -50%);
    width: 1200px;
    padding: 0px 50px -500px;
}

.main_visual .main_slide .slogan strong {
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    color: #fff;
    background-color: black;
}

.main_visual .main_slide .slogan a {
    font-size: 14px;

    background: #fff;
    color: black;
    padding: 5px 25px 4px 25px;
}


/* ↓ 버튼 ↓ */

.main_visual .arrows {
    display: flex;
    position: absolute;
    top: 89%;
    left: 48%;
    transform: translate(-50%, -50%);
    max-width: 113px;
    width: 100%;
}

.main_visual .arrows i {
    font-size: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.555);
    border: 1px solid #fff;
    padding: 10px;
}


.main_visual .arrows i:hover {
    color: red;
    background: #fff;
}


.main_visual .arrows li.on i {
    color: red;
    background: #cacacac7;
}

/* ↑ 버튼 ↑ */

.bss {
    padding: 150px 0 150px 0;
}


.bss .tit {
    border: 2px solid green;
    padding: 30px 0 30px 0;
    text-align: center;
}

.bss .tit h2 {
    font-size: 30px;
}

.bss .tit strong {
    color: goldenrod;
}

.bss .inner {
    border: 2px solid tomato;
    display: flex;
    padding: 30px 100px;
}

.bss .inner img {
    border-radius: 1%;
    height: 400px;
    margin-bottom: 15px;
}

.bss .inner .list {
    display: block;
    border: 1px solid #ddd;
    border-radius: 1%;
    margin: 0 10px;
    text-align: center;
    padding: 10px 0 15px 0;
    box-shadow: 5px 5px 5px #999;
}

/* 가상요소 테두리 만들어야함 */


.bss .inner .list h3 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 25px
}

.bss .inner .list p {
    color: #777777;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -1px;
    word-break: keep-all;
}